.character {
    background: #2A313C;
}

.character__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
}

.character__right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 89px;
    padding-bottom: 83px;

}

.character__h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    color: white;
    margin-top: 22px;
}

.character__txt {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #DFDFDFCC;
    margin-top: 38px;
    margin-bottom: 65px;
}

.character__scroller {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
}

.character__scroller::before {
    content: "";
    position: absolute;
    background: url(../img/scrollersquare.svg);
    width: 44px;
    height: 44px;
    left: 0;
    top: 29px;
}

.character__scroller::after {
    content: "";
    position: absolute;
    background: url(../img/scrollersquare.svg);
    width: 44px;
    height: 44px;
    right: 0;
    top: 29px;
}

.scroller__img{
    border-radius: 20px;
}

.scroller__img:hover{
    outline: 11px solid #3B3D46
}